[BOT] Gerrit Code Review <gerrit@wikimedia.org>
[BOT] jenkins-bot <jenkins-bot@gerrit.wikimedia.org>
[BOT] Translation updater bot <l10n-bot@translatewiki.net>
[BOT] LibraryUpgrader <tools.libraryupgrader@tools.wmflabs.org>
Arthur Lorenzi <lorenzi.arthur@gmail.com>
Christian Aistleitner <christian@quelltextlich.at>
Cory Massaro <cmassaro@wikimedia.org>
Kunal Mehta <legoktm@debian.org>
James D. Forrester <jforrester@wikimedia.org>
Umherirrender <umherirrender_de.wp@web.de>
